.typed-cursor{
    opacity: 1;
    font-weight: 100;
    color: #5695FF;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


.split {
    height: 100%;
    width: 60%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left {
    position: relative;
    width: 30%;
    left: 2%;
    background-color: inherit;
}



.right {
    margin-left: 0;
    right: 0%;
    width:65%;
    background-color: inherit;
    text-align: left;
}

body{
font-family: 'Montserrat', sans-serif;    
background:rgb(31, 30, 30);
text-align:center;
padding: 20px;
font-size:  20wv;
}

body a{
    color: rgb(65, 65, 65);
    font-weight: bolder;
}

#header {
    text-decoration: none;
    color: rgb(192, 192, 192);
}

.anchor {
    text-decoration: none;
    color: rgb(192, 192, 192);
    font-weight: 400;
}

a{
text-decoration: none;
color:rgb(255, 255, 255);
}


body a:hover{
color:#FF9E56;
}

p{
line-height: 3em;
margin:0 0 20px;
text-align: center;
font-size: 20vw;
font-family: 'Montserrat', sans-serif;  
}

.split .left span.typed-cursor{
    color: #5695FF;
}

#no-link{
    color: #111111;
}

span{
    color: rgb(248, 245, 245);
}

.wrap{
max-width: 600px;
margin:150px auto;
}

.type-wrap{
margin:10px auto;
padding:20px;
background:#f0f0f0;
border-radius:5px;
border:#CCC 1px solid;
}

.links{
margin:20px 0;
font-size: 0.75em;
text-align: center;
}

.center-image{
text-align: center;
width: 50%;
max-width: 300px;
padding-bottom: 0;
z-index: 300;
padding-left: 50px;
padding-right: 50px;
padding-top: 20px;
}



.main{
color: #f0f0f0;
padding:0px;
font-family: 'Montserrat', sans-serif;
font-size: 80%;
padding-top: 50px;


}

#content{
color: #e6e6e6;
padding: 30px;
font-size: 100%;
font-family: 'Montserrat', sans-serif;
line-height: 1.7em;
text-align: left;
max-width: 800px;
vertical-align: left;
margin:0 auto; 




}

#coffee{ 
font-size: 7px; 
max-width: 80px;
margin:0 auto;
padding-right: 120px;}

.links{
margin:20px 0;
font-size: 0.75em;
text-align: center;
}


a{  position: relative;
color: inherit;
-webkit-transition: color 200ms ease-out,border 200ms ease-out;
transition: color 200ms ease-out,border 200ms ease-out;
color: inherit;
font-weight: 800;
}

img {
    border-radius: 50%;
    width: 200px;
    height: auto;
}

